
view(class="components-coin-card")
    view.item
        text 5人
        text 新客浏览
        text 50币
    view.item
        text 5人
        text 裂变客户
        text 50币
    view.item
        text 5次
        text 分享
        text 50币
    view.item
        text 5户
        text 报名
        text 50币
    view.item
        text 5户
        text 售卡
        text 50币
    view.item
        text 5单
        text 订单
        text 50币
    view.item
        text 5人
        text 进直播间
        text 50币
    view.item
        text 5单
        text 直播订单
        text 50币
    
    