
@import '../../assets/style/index';
.pages-login {
    .content{
        height: 63vh;
        padding: 7vh 6vw 30vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .word-content{
            .text{
        
            }
            .title{
            line-height: 100rpx;
            }
        }
        .w-authorization{
            button{
            background-color: #000;
            color: #fff;
            height: 80rpx;
            }
        }
    }
}
