
w-loading(id="w-loading")
w-page(
  class="w-page pages-login"
)
  view(slot="header" class="header")
  view(slot="content" class="content")
    view.word-content
      view.text.title 亲爱的导购,
      view.text 因您没有登录过,现在需要您对小程序进行授权。
    w-authorization.w-authorization(
      bindcallback="getUserInfoEventer"
      type='avatarUrl'
    )
      view(class="user-section" slot="before")
        text 点击授权
      
  view(slot="footer" class="footer")
