
@import '../../assets/style/index';
.pages-recharge {
    .recharge-content{
        background-color: $g3c;
        min-height: 100vh;
        padding-top: 30rpx;
        .main-area{
            padding: 30rpx 40rpx;
            background-color: #fff;
            .input-area{
                @include flex-just-between;
                align-items: flex-end;
                margin-top: 30rpx;
                text{
                    width: 50rpx;
                    font-size: 50rpx;
                }
                input{
                    width: 670rpx;
                    margin-left: 30rpx;
                    font-size: 36rpx;
                    height: 70rpx;
                }
            }
        }
    }
    .btn-box{
        padding:0 30rpx;
        .action-btn{
            margin-top: 50rpx;
            background-color: #29BF63;
        }
    }
}
