
w-loading(id="w-loading")
w-page(
  class="w-page pages-order-brand"
)
  view(slot="header" class="header")
    van-search(value="{{searchValue}}" placeholder="搜索" 
    bind:search="onSearch")
  view(slot="content" class="content")
    van-index-bar( 
      scroll-top="{{scrollTop}}" highlight-color="{{$themColor}}"
      sticky-offset-top="{{stickyOffsetTop}}"
      )
      view(wx:for="{{brandList}}" wx:key="index" )
        van-index-anchor(  index="{{index}}" )
        van-cell(title="{{listItem.name}}" wx:for="{{item}}" bindtap="selectEvent" data-brand-id="{{listItem.id}}"  data-brand-name="{{listItem.name}}" wx:for-item="listItem" wx:key="listIndex")
  view(slot="footer" class="footer")
