
w-loading(id="w-loading")
w-page(
  class="w-page pages-order-brand"
)
  view(slot="header" class="header")
    van-search(value="{{searchValue}}" placeholder="搜索" 
    bind:search="onSearch")
  view(slot="content" class="content")
    van-index-bar( 
      scroll-top="{{scrollTop}}" highlight-color="{{$themColor}}"
      sticky-offset-top="{{stickyOffsetTop}}"
      )
      view(wx:for="{{brandList}}" wx:key="index" )
        van-index-anchor(  index="{{index}}" )
        van-cell(title="{{listItem.name}}" wx:for="{{item}}" bindtap="selectEvent" data-brand-id="{{listItem.id}}"  data-brand-name="{{listItem.name}}" wx:for-item="listItem" wx:key="listIndex")
      //- view(wx:for="{{brandList}}" wx:key="index")
      //-   view
      //-     van-index-anchor(  index="{{item.index}}" )
      //-     van-cell(title="{{listItem}}" wx:for="{{item.list}}" bindtap="selectEvent" data-Index="{{index}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='B'}}")
        //-   van-index-anchor(  index="B")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" bindtap="selectEvent" data-Index="{{index}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='C'}}")
        //-   van-index-anchor(  index="C")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='D'}}")
        //-   van-index-anchor(  index="D")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='E'}}")
        //-   van-index-anchor(  index="E")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='F'}}")
        //-   van-index-anchor(  index="F")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='G'}}")
        //-   van-index-anchor(  index="G")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='H'}}")
        //-   van-index-anchor(  index="H")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='I'}}")
        //-   van-index-anchor(  index="I")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='J'}}")
        //-   van-index-anchor(  index="J")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='K'}}")
        //-   van-index-anchor(  index="K")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='L'}}")
        //-   van-index-anchor(  index="L")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='M'}}")
        //-   van-index-anchor(  index="M")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='N'}}")
        //-   van-index-anchor(  index="N")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='O'}}")
        //-   van-index-anchor(  index="O")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='P'}}")
        //-   van-index-anchor(  index="P")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='Q'}}")
        //-   van-index-anchor(  index="Q")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='R'}}")
        //-   van-index-anchor(  index="R")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='S'}}")
        //-   van-index-anchor(  index="S")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='T'}}")
        //-   van-index-anchor(  index="T")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='U'}}")
        //-   van-index-anchor(  index="U")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='V'}}")
        //-   van-index-anchor(  index="V")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='W'}}")
        //-   van-index-anchor(  index="W")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='X'}}")
        //-   van-index-anchor(  index="X")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='Y'}}")
        //-   van-index-anchor(  index="Y")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
        //- view(wx:if="{{item.index=='Z'}}")
        //-   van-index-anchor(  index="Z")
        //-   van-cell(title="{{listItem}}" wx:for="{{item.list}}" wx:for-item="listItem" wx:key="listIndex")
  view(slot="footer" class="footer")
