
w-page(
  class="w-page pages-short-message-mange"
)
  view(slot="header" class="header flex-just-between")
    view.image-box
      image.header-bg(src="../../assets/image/short-mes-bg1.png" mode="widthFix")
      view.info-box
        text( class="header-title") 短信素材
        text.header-title2 智能高效
        image.go(src="../../assets/image/icon/go2.png")
    view.image-box
      image.header-bg(src="../../assets/image/short-mes-bg2.png" mode="widthFix" )
      view.info-box
        text( class="header-title") 短信发送
        text.header-title2 一键群发
        image.go(src="../../assets/image/icon/go.png")
  view(slot="content" class="content")
    view.message-list
      view.message-item.flex-dire-column
        view.top
          view.left 
            image(src="../../assets/image/icon/live-customer.png")
            text.title 直播客户
          view.right
            text.timing 定时发送
        view.content
          view.mess dfhje不淋不到凤凰网if烘干her文化宫花覅无法的还是发好和龟儿哈个一是红日VBHRif
          text.timing 定时发送
  view(slot="footer" class="footer")
