
@import '../../assets/style/index';
.pages-short-message-mange {
    .header{
        padding: 30rpx;
        height: 190rpx;
        .image-box{
            position: relative;
            width: 49%;
            .header-bg{
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
            .go{
                height: 37rpx;
                width: 72rpx;
            }
        }
        .info-box{
            padding: 30rpx 40rpx;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            position: absolute;
        }
        text{
            color: #4890CC;
            display: block;
        }
        .header-title{
            font-size: 34rpx;
            margin-bottom: 10rpx;
        }
        .header-title2{
            font-size: 26rpx;
            margin-bottom: 5rpx;
        }
    }
    .content{
        .message-list{
            padding: 30rpx;
            .message-item{
                border-radius: 15rpx;
                margin-bottom: 30rpx;
               box-shadow: 0px 0px 36px 0px rgba(179, 179, 179, 0.35);
               .left{
                   image{
                       height: 32rpx;
                       width: 32rpx;
                       margin-right: 10rpx;
                   }
                   .title{
                       font-size: 32rpx;
                   }
               }
               .right{
                   color: $pc;
               }
               .top{
                   padding: 10rpx 30rpx 0;
                   line-height: 80rpx;
                   font-size: 28rpx;
                   border-bottom: 2rpx solid $g3c;
               }
               .content{
                   padding: 30rpx;
                   color: $b3c;
                   font-size: 26rpx;
               }
               .timing{
                   margin-top: 10rpx;
                   text-align: right;
               }

            }
        }
    }
}
