
w-page(
  class="w-page pages-my-material"
)
  view(slot="header" class="header")
  view(slot="content" class="content")
    view.tabs.flex-just-between
      vant-button( size="small" custom-class="tab-btn {{activeList=='audit'?'active':''}}" bind:click="changeEventer" data-type="audit")
        text 已审核({{auditList.length}})
      vant-button( size="small" custom-class="tab-btn {{activeList=='wait'?'active':''}}" bind:click="changeEventer" data-type="wait")
        text 已审核({{wattingList.length}})
      vant-button( size="small" custom-class="tab-btn {{activeList=='fail'?'active':''}}" bind:click="changeEventer" data-type="fail")
        text 未通过审核({{failLitst.length}})
    view.material-list
      view.material-item(wx:for="{{myMaterialList.length}}" wx:key="index")
        view.title 提交时间: 2020-50-01
        view.main-info.pad-30-20
          view.words 我独自走在郊外的田野上 要把糕点带给外婆尝一尝
          //- 只有一个视频
            wx:if="{{item.type=='video'}}"
          //- w-media(
          //-   url="https://stream7.iqilu.com/10339/article/202002/18/2fca1c77730e54c7b500573c2437003f.mp4"
          //- )
          van-grid(wx:if="{{item.type=='image'}}" column-num="3" gutter="{{ 5 }}" square custom-class="van-grid" border="{{false}}")
            van-grid-item(use-slot wx:for="1233456"  text="8888" wx:key="*this" content-class="grid-item")
              view.grid-item()
                image(
                  src='https://api.fmlesson.cn/upload/20200421/8dc1e6a77a1f8245ad999265b2413c64.jpg'
                  mode="heightFix"
                )
          


          
  view(slot="footer" class="footer")
