
w-page(
  class="w-page pages-my-material"
)
  view(slot="header" class="header")
  view(slot="content" class="content")
    view.tabs.flex-just-between
      vant-button( size="small" custom-class="tab-btn {{activeList=='0'?'active':''}}" bind:click="changeEventer" data-type="0")
        text 审核中({{status_list[0]}})
      vant-button( size="small" custom-class="tab-btn {{activeList=='1'?'active':''}}" bind:click="changeEventer" data-type="1")
        text 已审核({{status_list[1]}})
      vant-button( size="small" custom-class="tab-btn {{activeList=='2'?'active':''}}" bind:click="changeEventer" data-type="2")
        text 未通过审核({{status_list[2]}})
    view.material-list
      view.material-item(wx:for="{{myMaterialList}}" wx:key="index")
        view.title 提交时间: {{item.create_time}}
        view.main-info.pad-30-20
          view.words {{item.content}}
          view(wx:if="{{item.attach_type=='video'}}")
            w-media(
              url="{{item.file_list[0].url}}"
            )
          van-grid(wx:if="{{item.attach_type=='image'}}" column-num="3" gutter="{{ 5 }}" square custom-class="van-grid" border="{{false}}")
            van-grid-item(use-slot wx:for="{{item.file_list}}" wx:for-item="file"  wx:key="file" content-class="grid-item")
              view.grid-item()
                image(
                  src='{{file.url}}'
                  mode="heightFix"
                )
  view(slot="footer" class="footer")
