
w-loading(id="w-loading")
w-page(
  class="w-page pages-messgae"
)
  view(slot="header" class="header")
  view(slot="content" class="content")
    view.message-list
      view.message-item(wx:for="{{messageList}}" wx:key="index")
        view.volume-box.flex-align-center
          vant-icon(name="volume" size="30px" color="#fff")
        view.main-info
          text.mess-title {{item.title}}
          text.tips {{item.des}}
        view.mess-time-num(bindtap="$routeLink" data-path="message-detail?id={{item.id}}")
          text.time {{item.time}}
          text.num(wx:if="{{!item.status}}") 未读
  view(slot="footer" class="footer")
