
w-loading(id="w-loading")
w-page(
  class="w-page pages-messgae"
)
  view(slot="header" class="header")
  view(slot="content" class="content")
    van-tabs.van-tabs(active="{{ activeTabIndex }}" bind:change="onChange" color="{{$themColor}}" )
      van-tab.vantab(
        wx:for="{{ tabs }}"
        wx:key="*this"
        title="{{item }}排行榜"
      )
        view(wx:if="{{activeTabIndex==0}}")
          view.message-list(wx:if="{{messageList.length}}")
            view.message-item(wx:for="{{messageList}}" wx:key="index" bindtap="$routeLink" data-path="message-detail?id={{item.id}}&isRead={{item.status}}")
              view.volume-box.flex-align-center
                vant-icon(name="volume" size="30px" color="#fff")
              view.main-info
                text.mess-title {{item.title}}
                text.tips {{item.des}}
              view.mess-time-num()
                text.time {{item.time}}
                text.num(wx:if="{{!item.status}}") 未读
          view.kong(wx:else)
            image(src="../../assets/image/kong.png")
            view 数据为空！
        view(wx:if="{{activeTabIndex==1}}")
          view.message-list(wx:if="{{messageList.length}}")
            view.message-item.guest(wx:for="{{messageList}}" wx:key="index" bindtap="$routeLink" data-path="message-detail?id={{item.id}}&isRead={{item.status}}")
              view.volume-box.avator.flex-align-center
                w-image(url='{{item.avatar}}') 
              view.main-info
                text.mess-title {{item.title}}
                text.tips {{item.des}}
              view.mess-time-num()
                text.time {{item.time}}
          view.kong(wx:else)
            image(src="../../assets/image/kong.png")
            view 数据为空！
  view(slot="footer" class="footer")
