
@import '../../assets/style/index';
.pages-messgae {
    .content{
        padding-bottom: 110rpx;
        min-height: 100vh;
        box-sizing: border-box;
        background-color: $g3c;
        .kong{
            image{
                margin: 2vh 0;
            }
            text-align: center;
        }
        .message-list{
            font-size: 28rpx;
            padding: 30rpx;
            .message-item{
                position: relative;
                background-color: #fff;
                box-shadow:0px 2px 3px 0px rgba(0,0,0,0.08);
                @include flex-just-between;
                border-radius: 6px;
                border-bottom: 2rpx solid $g3c;
                padding: 30rpx 40rpx;
                .volume-box{
                    height: 90rpx;
                    width: 90rpx;
                    justify-content: center;
                    border-radius: 15rpx;
                    background-color: red;
                    image{
                        height: 90rpx;
                        width: 90rpx;
                    }
                }
                .avator{
                    background-color: #fff;
                    image{
                        border-radius: 50%;
                        overflow: hidden;
                    }
                }
                .main-info{
                    width: 400rpx;
                    margin: 0 30rpx;
                }
                .main-info,.mess-time-num{
                    @include flex-dire-column;
                }
                .mess-time-num{
                    align-items: center;
                    .num{
                        text-align: center;
                        background-color: red;
                        padding:0rpx 5rpx;
                        color: #fff;
                        min-width: 25rpx;
                        font-size: 24rpx;
                        border-radius: 17rpx;
                    }
                }
               .num{
                   position: absolute;
                   left: -13rpx;
                   top: -13rpx;
                   background: red;
                   padding: 5rpx;
                   text-align: center;
                   color: #fff;
                   min-width: 26rpx;
                   min-height: 26rpx;
                   border-radius: 17rpx;
                   font-size: 22rpx;
               }
            }
            
        }
    }
}
