
@import '../../assets/style/index';
.pages-messgae {
    .content{
        padding-bottom: 110rpx;
        .kong{
            image{
                margin: 2vh 0;
            }
            text-align: center;
        }
        .message-list{
            font-size: 28rpx;
            .message-item{
                @include flex-just-between;
                border-bottom: 2rpx solid $g3c;
                padding: 30rpx 40rpx;
                .volume-box{
                    height: 90rpx;
                    width: 90rpx;
                    justify-content: center;
                    border-radius: 15rpx;
                    background-color: red;
                }
                .main-info{
                    width: 400rpx;
                    margin: 0 30rpx;
                }
                .main-info,.mess-time-num{
                    @include flex-dire-column;
                }
                .mess-time-num{
                    align-items: center;
                    .num{
                        text-align: center;
                        background-color: red;
                        padding:0rpx 5rpx;
                        color: #fff;
                        min-width: 25rpx;
                        font-size: 24rpx;
                        border-radius: 17rpx;
                    }
                }
            }
        }
    }
}
