
w-loading(id="w-loading")
w-page(
  class="w-page pages-short-message-edit"
)
  view(slot="header" class="header")
  view(slot="content" class="content")
    view 短信内容不能超过45个字哦~
    
  view(slot="footer" class="footer")
