
w-loading(id="w-loading")
w-page(
  class="w-page pages-short-message-edit"
)
  view(slot="header" class="header")
  view(slot="content" class="content")
    text {{title}}
  view(slot="footer" class="footer")
