
@import '../../assets/style/index';
.pages-home {
    .header{
        height: 180rpx;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .header-image{
        height: 33rpx;
        width: 273rpx;
    }

}
