.icon {
  font-size: 0;
  display: block;
  background-position: center;
  background-repeat: no-repeat;

  &-smaller {
    width: 24rpx;
    height: 24rpx;
    background-size: 100% 100%;
  }

  &-small {
    width: 30rpx;
    height: 30rpx;
    background-size: 100% 100%;
  }

  &-normal {
    width: 40rpx;
    height: 40rpx;
    background-size: 100% 100%;
  }

  &-large {
    width: 60rpx;
    height: 60rpx;
    background-size: 100% 100%;
  }
  &-xlarge {
    width: 70rpx;
    height: 70rpx;
    background-size: 100% 100%;
  }
  &-vs {
    width: 110rpx;
    height: 74rpx;
    background-size: 100% 100%;
  }
  &-right{
    width: 28rpx;
    height: 20rpx;
    background-size: 100% 100%;
}
  &-recommend{
    width: 26rpx;
    height: 30rpx;
    background-size: 100% 100%;
  }
  &-effective{
    width: 85rpx;
    height: 43rpx;
    background-size: 100% 100%;
  }
}

.icon-calendar{
  background-image: url('../../assets/image/icon/calendar.png');
}
.icon-warn{
  background-image: url('../../assets/image/icon/warn.png');
}
.icon-question{
  background-image: url('../../assets/image/icon/question.png');
}
.icon-vs{
  background-image: url('../../assets/image/icon/vs.png');
}
.icon-crown{
  background-image: url('../../assets/image/icon/crown.png');
}
.icon-right{
  background-image: url('../../assets/image/icon/right.png');
}
.icon-close{
  background-image: url('../../assets/image/icon/close.png');
}
.icon-scan{
  background-image: url('../../assets/image/icon/RichScan.png');
}
.icon-down-orange{
  background-image: url('../../assets/image/icon/down-orange.png');
}
.icon-down-blue{
  background-image: url('../../assets/image/icon/down-blue.png');
}
.icon-notice{
  background-image: url('../../assets/image/icon/notice.jpg');
}
.icon-phone{
  background-image: url('../../assets/image/icon/phone.png');
}
.icon-chat{
  background-image: url('../../assets/image/icon/chat.png');
}
.icon-recommend{
  background-image: url('../../assets/image/icon/recommend.png');
}
.icon-share{
  background-image: url('../../assets/image/icon/share.png');
}
.icon-save{
  background-image: url('../../assets/image/icon/save.png');
}
.icon-pyq{
  background-image: url('../../assets/image/icon/pyq.png');
}
.icon-effective{
  background-image: url('../../assets/image/icon/effective.png');
}
.icon-Invalid{
  background-image: url('../../assets/image/icon/Invalid.png');
}