
w-loading(id="w-loading")
w-page(
  class="w-page pages-un-register"
)
  view(slot="header" class="header")
  view(slot="content" class="content")
    view.func-list
      view.func-item.flex-align-center
        text.title 门店管理
        image(src='../../assets/image/inc1.png')
      view.func-item.flex-align-center
        text.title 店员管理
        image(src='../../assets/image/inc2.png')
      view.func-item.flex-align-center
        text.title 订单统计
        image(src='../../assets/image/inc3.png')
      view.func-item.flex-align-center(
        bindtap="toMiniAPP"
      )
        text.title 创建活动
        image(src='../../assets/image/inc4.png')
    view.btns
      vant-button( type="default" plain custom-class="account-btn" color="#3E5193" bind:click="isHasUserId" )
        text 账号管理
        
  view(slot="footer" class="footer")
