
@import '../../assets/style/index';
.pages-un-register {
    .content{
        position: fixed;
        left: 0;
        top: 0;
        padding: 30rpx;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        background-color:$g3c;
        // overflow-y: scroll;
    }
    .func-list{
        // width: 100%;
    }
    .func-item{
        background-color: #fff;
        padding: 40rpx 0;
        
        border: 2rpx solid $g1c;
        margin-bottom: 30rpx;
        justify-content: space-around;
        image{
            width: 134rpx;
            height: 110rpx;
        }
    }
}
