
@import '../../assets/style/index';
.pages-un-register {
    .content{
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        background-color:#0f57e4;
        overflow-y: scroll;;
    }
    image{
        // height: 100vh;
        width: 100vw;
    }
}
