
w-loading(id="w-loading")
w-page(
  class="w-page pages-un-register"
)
  view(slot="header" class="header")
  view(slot="content" class="content")
    image(src='../../assets/image/unRegister.jpg' mode="widthFix")
  view(slot="footer" class="footer")
