
w-page(
  class="w-page pages-customer"
)
  view(slot="header" class="header")
  view(slot="content" class="content")
    view.customer-list
      view.customer-item(
        wx:for="{{customerList}}" wx:key="index" 
        bindtap="$routeLink" data-path='customer-list?customerType={{item.type}}&id={{item.id}}'
      )
        image(src="../../assets/image/icon/customer/{{item.icon}}.png" mode="widthFix")
        text {{item.type}}客户
  view(slot="footer" class="footer")
