
@import '../../assets/style/index';
.pages-customer {
    .content{
        padding: 30rpx;
    }
    .customer-list{
        @include flex-just-start;
        flex-wrap: wrap;
        .customer-item{
            width: 173rpx;
            margin-bottom: 30rpx;
            font-size: 24rpx;
            @include flex-dire-column;
            align-items: center;
            text-align: center;
            image{
                height: 78rpx;
                width: 78rpx;
                // margin-bottom: 15rpx;
            }
            text{
                display: inline-block;
                width: 70px;
                white-space:nowrap;
                overflow: hidden;
                padding: 0 7rpx;

            }
        }
    }
}
