
@import '../../assets/style/index';
.pages-order-type-in {
    .title{
        color: $g4c;
        background-color: $g5c;
        line-height: 70rpx;
        font-size: 28rpx;
        padding:0 50rpx;
    }
    .content{
        font-size: 28rpx;
        .section-content{
            padding-bottom: 100rpx;
        }
        .field{
            position: relative;
            height: 45rpx;
            line-height: 45rpx;
            .arr-box{
                height: 70rpx;
                line-height: 70rpx;
                width: 50rpx;
                position: absolute;
                left: 91vw;
                top: 14rpx;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            picker{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99;
                height: 100%;
                width: 100%;
                color: #fff;
                .picker{
                    height: 70rpx;
                }
            }
        }
        input{
            border: none;
            // height: 90rpx;
            // line-height: 90rpx;
        }
        .upload{
            font-size: 26rpx;
            padding: 30rpx 20rpx;
            .tips{
                margin-bottom: 30rpx;
            }
            van-uploader{
                margin-left: 70rpx;
            }
        }
        .button{
             button{
                 background-color: $lpc;
                 line-height: 70rpx;
                 width: 400rpx;
                 color: #fff;
                 border-radius: 15rpx;
             }
        }
       
    }
    van-calendar{
        height: 300rpx;
        width: 300rpx;
    }

}
.guide{
    .content{
        .title{
            text-align: center;
            font-weight: 500;
            line-height: 90rpx;
            font-size: 30rpx;
        }
        padding-bottom: 30rpx;
    }
}
