
@import '../../assets/style/index';
.pages-order-type-in {
    .title{
        color: $g4c;
        background-color: $g5c;
        line-height: 70rpx;
        font-size: 28rpx;
        padding:0 50rpx;
    }
    .content{
        font-size: 28rpx;

        .section-content{
            padding-bottom: 100rpx;
        }
        .field{
            position: relative;
            height: 45rpx;
            line-height: 45rpx;
            .arr-box{
                height: 70rpx;
                line-height: 70rpx;
                width: 50rpx;
                position: absolute;
                left: 91vw;
                top: 14rpx;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            picker{
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99;
                height: 100%;
                width: 100%;
                color: #fff;
                .picker{
                    height: 70rpx;
                }
            }
        }
        input{
            border: none;
            // height: 90rpx;
            // line-height: 90rpx;
        }
        .upload{
            font-size: 26rpx;
            padding: 30rpx 20rpx;
            overflow: hidden;
            .tips{
                margin-bottom: 30rpx;
            }
            van-uploader{
                // padding-left: 60rpx;
                // width: 100%;
                // box-sizing: border-box;
            }
        }
        .button{
             button{
                 background-color: $lpc;
                 line-height: 70rpx;
                 width: 400rpx;
                 color: #fff;
                 border-radius: 15rpx;
             }
        }
        .vantab2{
            .order-list{
                font-weight: 400;
                font-size: 26rpx;
                border-top: 5rpx solid $g3c;
                .line{
                    @include flex-just-between;
                    align-items: center;
                    padding: 30rpx;
                    border-bottom: 2rpx solid $g3c;
                    
                }
                .rank{
                    @include flex-align-center;
                }
                .main-info{
                    width: 450rpx;
                    .name{
                        font-weight: 500;
                    }
                }
                .main-info,.income{
                    @include flex-dire-column;
                    height: 75rpx;
                }
                .income{
                    justify-content: flex-start;
                    align-items: center;
                    .view-num{
                        @include flex-align-center;
                        color: #0A7FEA;
                        margin-top: 30rpx;
                        .down-blue{
                            margin-left:30rpx;
                        }
                    }
                    .active{
                        transform: rotate(180deg);
                    }
    
                }
                .num-box{
                    max-height: 0;
                    overflow: hidden;
                    box-sizing: border-box;
                    transition: max-height 0.5s;
                    .num-box-in{
                        padding: 30rpx 40rpx;
                       text {
                           display: block;
                       }
                    }
                    .num-item{
                        text {
                            width: 70rpx;
                            white-space : nowrap;
                        }
                        .image-box{
                            margin-left: 20rpx;
                            flex-wrap: wrap;
                            .image{
                                height: 170rpx;
                                width: 170rpx;
                                margin-right: 15rpx;
                                margin-bottom: 15rpx;
                            }
                        }
                    }
                    border-bottom: 10rpx solid $g3c;
                }
                .show{
                    max-height: 926rpx;
                }
    
            }
        }
       
    }
    van-calendar{
        height: 300rpx;
        width: 300rpx;
    }

}
.guide{
    .content{
        .title{
            text-align: center;
            font-weight: 500;
            line-height: 90rpx;
            font-size: 30rpx;
        }
        padding-bottom: 30rpx;
    }
}
.pop-pkList{
    .content{
        .title{
            @include flex-just-between;
            padding:20rpx 30rpx;
            .cancel{
                color: $b3c;
            }
            .comfirm{
                color: $lpc;
            }
            .center{
                font-size: 30rpx;
            }
        }
        .list-box{
            .value-class{
                position: absolute;
                right: 60rpx;
            }
            .title-class{
                flex:4;
                text-align: center;
            }
            .list{
                .line{
                    text-align: center;
                    line-height: 80rpx;
                    position: relative;
                    border-bottom: 2rpx solid $g3c;
                }
                .icon{
                    margin-left: 30rpx;
                    // position: absolute;
                    // top: 3rpx;
                    // right: 60rpx;
                }
                
            }
        }
    }
}