@import '../../assets/style/index';

.w-page {
  .w-page-content {
    @include safe-padding-bottom(0rpx);
  }

  .w-page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background: #fff;
    @include safe-padding-bottom(0rpx);
  }

  &.w-page-tabbar {
    .w-page-content {
      @include safe-padding-bottom(114rpx);
    }

    .w-page-footer {
      @include safe-padding-bottom(114rpx);
    }
  }

  will-change: opacity;
  opacity: 0;
  transition: .5s;
  &.showPage {
    opacity: 1;
  }
}
