
@import '../../assets/style/index';
.pages-message-detail {
    
    .message-detail-list{
        padding: 30rpx;
        min-height: 100vh;
        background-color: $g3c;
        .item-box{
            margin-bottom: 30rpx;
            border-radius:10px;
        }
        .components-item-box-lcr{
            border-radius: 10rpx;
            padding: 30rpx 20rpx;
            background-color: #fff;
        }
        .left{
            image{
                height: 120rpx;
                width: 120rpx;
                border-radius: 50%;
                margin-right: 10rpx;
                background-color: red;
                overflow: hidden;
            }
        }
        .line-price{
            text{
                display: inline;
            }
        }
        .price{
            font-size: 30rpx;
            color: #E03280;
        }
        .bottom-time{
            padding-top: 15rpx;
            margin-top: 10rpx;
            border-top: 2rpx solid $g3c;
        }
        .right{
            min-width: 120rpx;
            justify-content: space-between;
            align-self: stretch;
            .detail-btn{
                // height: 60rpx;
                // width: 130rpx;
                font-size: 24rpx;
                margin-bottom: 15rpx;
            }
            .status{
                color: red;
            }
        }

    }
}
