@mixin flex-align-center{
    display: flex;
    align-items: center;
}
.flex-align-center{
    display: flex;
    align-items: center;
}
@mixin flex-just-between{
    display: flex;
    justify-content: space-between;
}
.flex-just-between{
    display: flex;
    justify-content: space-between;
}
@mixin flex-dire-column{
    display: flex;
    flex-direction: column;
}
.flex-dire-column{
    display: flex;
    flex-direction: column;
}
@mixin flex-just-start{
    display: flex;
    justify-content: flex-start;
}
.flex-just-start{
    display: flex;
    justify-content: flex-start;
}
.flex-just-end{
    display: flex;
    justify-content: flex-end;
}
.bor-bottom{
    border-bottom:2rpx solid #e5e5e5; 
}
@mixin line{
    width: 100%;
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    height: 2rpx;
    z-index: 9999;
    overflow: hidden;
    background-color: #e5e5e5;
}