
w-page(
  class="w-page pages-customer-list"
)
  view(slot="header" class="header")
  view(slot="content" class="content")
    view.title {{customerType}}
    view.customer-list(wx:if="{{customerList}}")
      view.item-box(wx:for="{{customerList}}" wx:key="index" wx:if="{{customerList.length}}")
        view.w-item-box()
          w-item-box
            view.left(slot="left")
              image(src="{{item.avatar}}")
            view.center(slot="center" centerWidth="500")
              view.flex-align-center
                text.customer-name 客户姓名：{{item.client_name}}
                w-icon(type="{{item.is_valid?'effective':'Invalid'}}" size="effective" ) 
              text.customer-tel 联系电话：{{item.client_mobile}}
              text.invite-name 邀请人：{{item.share_name}}
              text.belong-name 归属员工：{{item.top_name}}
            view.right(slot="right")
              view.call
                w-icon(type="phone" size="large" bindtap='makePhoneCall' data-phone-number='{{item.client_mobile}}') 
              view.service()
                button(
                  open-type="contact"
                  bindcontact="sendContact"
                  class="button"
                )
                  w-icon(type="chat" size="large")
          view.bottom()
            text.time 裂变时间：{{item.created_at}}
      view.kong(wx:if!="{{!customerList.length}}")
        image(src="../../assets/image/kong.png")
        view 数据为空！
  view(slot="footer" class="footer")
