
@import '../../../assets/style/index';
.components-user-acc-view {
    .section{
        padding: 40rpx 30rpx;
        background-color: #fff;
        position: relative;
        font-size: 26rpx;
        margin-bottom: 30rpx;
        .red-word{
            color: red;
        } 
        .font-theme-grey{
            color: #919191;
        }
        .arrow{
            margin-left: 20rpx;
            @include right-arrow;
        }
        .title-1{
            font-weight: 500;
            font-size: 30rpx;
            padding-bottom: 25rpx;
            border-bottom: 2rpx solid #F2F2F2;
            @include flex-just-between;
            .right{
                font-size: 28rpx;
                font-weight: normal;
            }
        }
        .action{
            color: #919191;
            margin-left:20rpx;
        }
        .title-2{
            font-size: 28rpx;
            padding: 25rpx 0;
            border-top: 2px solid #F2F2F2;
            border-bottom: 2rpx solid #F2F2F2;
            @include flex-just-between;
            .right{
                display: flex;
                align-items: center;
                .action{
                    margin-right: 20rpx;
                }
            }
        }
        .section-content{
            padding: 30rpx 20rpx;
        }
        &-1{
            .price-box{
                box-sizing: border-box;
                background-color: #fff;
                position: absolute;
                left: 5%;
                top: -50rpx;
                display: flex;
                padding: 20rpx;
                font-size: 24rpx;
                justify-content: space-between;
                border-radius: 15rpx;
                width: 90%;
                box-shadow: 0 5px 5px #F2F2F2;
                text{
                    text-align: center;
                    display: block;
                    margin-top: 10rpx;
                }
            }
            .action-list{
                display: flex;
                flex-wrap: wrap;
                margin-top: 80rpx;
                justify-content: space-between;
                font-size: 26rpx;
                .action-item{
                    display: flex;
                    flex-direction: column;
                    width: 130rpx;
                    align-items: center;
                    justify-content: center;
                    padding: 20rpx;
                    image{
                       width: 42rpx; 
                       height: 42rpx;
                       margin-bottom: 20rpx;
                    }
                }
            }
        }
        &-2{
            text-align: center;
            line-height: 50rpx;
            .active-left-time{
                .time{
                    background-color: $pc;
                    margin: 0 8rpx;
                    padding: 0 5rpx;
                    text-align: center;
                    color: #fff;
                }
            }
        }
        &-pk{
            .user-kpi{
                display: flex;
                justify-content: space-between;
                border-left: 10rpx solid $pc;
                padding-left: 15rpx;
                line-height: 45rpx;
                .mt10{
                    margin-top: 10rpx;
                }
                text{
                    display: block;
                }
                .right{
                    .reword,.quantity{
                        display: flex;
                        align-items: center;
                    }
                    .reword{
                        .quantity{
                            flex-direction: column;
                        }
                        .coin-quality{
                            color: #919191;
                        }
                    }
                    .quantity{
                        text{
                            display: inline-block;
                        }
                    }
                    .fine{
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .myCoin{
                flex-wrap: wrap;
                @include flex-just-between;
                .coinItem{
                    width: 135rpx;
                    display: flex;
                    @include flex-dire-column;
                    line-height: 50rpx;
                    align-items: center;
                    margin-bottom: 35rpx;
                }
                .coinItem:nth-last-child(-n+4){
                    margin-bottom: 0;
                }
            }
            // 我的PK
            .userPK{
                .PKItem{
                    border-bottom: 2rpx solid #F2F2F2;
                    text-align: center;
                    font-size: 28rpx;
                    margin-top: 20rpx;
                    .PKView{
                        @include flex-just-between;
                        padding: 30rpx 80rpx;
                        .imageBox{
                            background-color: red;
                            position: relative;
                            padding: 5rpx;
                            border-radius: 15rpx;
                            font-size: 26rpx;
                            color: #fff;
                            @include flex-dire-column;
                            align-items: center;
                            .crown{
                                position: absolute;
                                left: -40rpx;
                                top: -40rpx;
                            }
                            image{
                                height: 160rpx;
                                width: 160rpx;
                                margin-bottom: 10rpx;
                                border-radius: 10rpx;
                                overflow: hidden;
                                background-color: salmon;
                            }
                        }
                        .center{
                            @include flex-align-center;
                        }
                        .right{
                            background-color: $lpc;
                        }
                    }
                }
                .PKItem:nth-last-child(1){
                    border-bottom: none;
                }
            }
            // 我的任务
            .myJob{
                overflow: hidden;
                padding: 30rpx 0;
                .myJobList{
                    display: flex;
                    flex-wrap: nowrap;
                    .jobItem{
                        @include flex-dire-column;
                        align-items: center;
                        margin-right: 24rpx;
                        justify-content: space-between;
                    }
                }
            }

        }
        &-collpase{
            .view-more{
                text-align: center;
                height: 100rpx;
                text{
                    background-color: $lpc;
                    border-radius: 15rpx;
                    color: #fff;
                    padding: 10rpx 20rpx;
                }
            }
            .userPK{
                max-height: 380rpx;
                transition: max-height 0.5s;
                overflow: hidden;
            }
            .active{
                max-height: 1000rpx;
            }
        }
    }
}
//金币规则
.pop-gold-coin-rule{
    .content{
        padding-bottom: 30rpx;
        .line{
            padding: 15rpx 30rpx;
            font-size: 26rpx;
        } 
    }
}