
@import '../../../assets/style/index';
.components-user-acc-view {
    .section{
        padding: 40rpx 30rpx;
        background-color: #fff;
        position: relative;
        font-size: 26rpx;
        margin-bottom: 30rpx;
        .red-word{
            color: red;
        } 
        .font-theme-grey{
            color: #919191;
        }
        .arrow{
            margin-left: 20rpx;
            @include right-arrow;
        }
        .pk-title{
            font-size: 30rpx;
            margin-bottom: 20rpx;
            image{
                height: 28rpx;
                width: 26rpx;
                margin-right: 20rpx;
            }
            .part{
                height: 28rpx;
                width: 30rpx;
            }
            .brand{
                width: 28rpx;
                height: 22rpx;
            }
            .regin{
                width: 36rpx;
                height: 42rpx;
            }

        }
        .title-1{
            padding-bottom: 25rpx;
            @include flex-just-between;
            align-items: center;
            font-size: 28rpx;
            .name{
                font-size: 36rpx;
                font-weight: 500;
                margin-right: 20rpx;
            }
            .right{
                
            }
        }
        .action{
            color: $pc;
            text-decoration: underline;
        }
        .title-2{
            font-size: 30rpx;
            padding: 25rpx 0;
            border-top: 2px solid #F2F2F2;
            @include flex-just-between;
            .right{
                display: flex;
                align-items: center;
            }
        }
        .section-content{
            padding: 30rpx 20rpx;
        }
        .item-box{
            padding: 20rpx 0;
            .left,.center,.right{
                flex: 1;
                text-align: center;
                text{
                    display: block;
                    &:nth-child(2){
                        font-size: 30rpx;
                        line-height: 50rpx;
                    };
                }
                .step-tips{
                    color: $b4c;
                }
                text:first-child{
                    font-size: 39rpx;
                }
               
            }
            .coin{
                color: $pc;
            }
        }
        &-2{
            text-align: center;
            line-height: 50rpx;
            .active-left-time{
                .time{
                    background-color: $pc;
                    margin: 0 8rpx;
                    padding: 0 5rpx;
                    text-align: center;
                    color: #fff;
                }
            }
        }
        &-pk{
            .user-kpi{
                display: flex;
                justify-content: space-between;
                border-left: 10rpx solid $pc;
                padding-left: 15rpx;
                line-height: 45rpx;
                .mt10{
                    margin-top: 10rpx;
                }
                text{
                    display: block;
                }
                .right{
                    .reword,.quantity{
                        display: flex;
                        align-items: center;
                    }
                    .reword{
                        .quantity{
                            flex-direction: column;
                        }
                        .coin-quality{
                            color: #919191;
                        }
                    }
                    .quantity{
                        text{
                            display: inline-block;
                        }
                    }
                    .fine{
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .myCoin{
                flex-wrap: wrap;
                @include flex-just-between;
                .coinItem{
                    width: 135rpx;
                    display: flex;
                    @include flex-dire-column;
                    line-height: 50rpx;
                    align-items: center;
                    margin-bottom: 35rpx;
                }
                .coinItem:nth-last-child(-n+4){
                    margin-bottom: 0;
                }
            }
            // 我的PK
            .userPK{
                .PKItem{
                    border-bottom: 2rpx solid #F2F2F2;
                    text-align: center;
                    font-size: 28rpx;
                    .PKStage{
                        color: red;
                    }
                    .PKProject{
                        margin-top: 20rpx;
                        font-size: 32rpx;
                    }
                    .PKView{
                        @include flex-just-between;
                        padding: 30rpx;
                        .imageBox{
                            color: red;
                            position: relative;
                            padding: 5rpx;
                            font-size: 26rpx;
                            @include flex-dire-column;
                            align-items: center;
                            .crown{
                                position: absolute;
                                left: -20rpx;
                                top: -20rpx;
                            }
                            image{
                                height: 180rpx;
                                width: 180rpx;
                                margin-bottom: 10rpx;
                                border-radius: 50%;
                                overflow: hidden;
                                border: 1rpx solid $g2c;
                                background-color: salmon;
                            }
                        }
                        .square{
                            .crown{
                                left: -30rpx;
                                top: -30rpx;
                            }
                            image{
                                border-radius: 15rpx;
                            }
                        }
                        .center{
                            padding:0 20rpx;
                            .vs{
                                margin-top: -60rpx;
                            }

                        }
                        .right{
                            color: #000;
                        }
                    }
                }
                .PKItem:nth-last-child(1){
                    border-bottom: none;
                }
            }
            // 我的任务
            .myJob{
                overflow: hidden;
                padding: 0;
                .swiper{
                    swiper-item{
                        .progress{
                            .left,.van-progress{
                                flex: 1;
                            }
                            margin-bottom: 20rpx;
                        }
                    }
                }
            }
        }
        &-collpase{
            .view-more{
                text-align: center;
                height: 100rpx;
                text{
                    color: $lpc;
                    padding: 10rpx 20rpx;
                }
            }
            .userPK{
                max-height: 380rpx;
                transition: max-height 0.5s;
                overflow: hidden;
            }
            .active{
                max-height: 1000rpx;
            }
        }
    }
}
//金币规则
.pop-gold-coin-rule{
    .content{
        padding-bottom: 30rpx;
        .line{
            padding: 15rpx 30rpx;
            font-size: 26rpx;
            text{
                display: block;
                line-height: 40rpx;
                margin-left: 20rpx;
            }
        } 
    }
}
.avator{
    height: 90rpx;
    width: 90rpx;
    border-radius: 50%;
}
// 奖励弹窗
.reword{
    .content{
        width: 650rpx;
    }
    .top{
        font-size: 28rpx;
        .item{
            text-align: center;
            text:last-child{
                display: block;
                color: #FFC800;
            }
        }
        border-bottom: 2px solid $g3c;
    }
    .top,.center{
        padding: 30rpx 20rpx;
        @include flex-just-between;
        border-bottom: 2px solid $g3c;
    }
    .center{
        align-items: center;
        image{
            background-color: red;
        }
        .main-info{
            margin-left: 30rpx;
            width: 400rpx;
            font-weight: 500;
        }
        .prize{
            font-size: 28rpx;
            width: 300rpx;
            align-items: flex-end;
            @include flex-dire-column;
        }
    }
}
// 惩罚弹窗
.fine{
    .content{
        width: 650rpx;
    }
    .top{
        
        image{
            height: 90rpx;
            width: 90rpx;
            border-radius: 50%;
            background-color: red;
        }
        .main-info{
            margin-left: 30rpx;
            width: 400rpx;
            font-weight: 500;
        }
        .prize{
            font-size: 28rpx;
            width: 300rpx;
            text-align: right;
        }
        .prize{
            text{
                clear: red;
            }
        }
    }
    .line,.top{
        padding: 30rpx 20rpx;
        @include flex-just-between;
        align-items: center;
        border-bottom: 2px solid $g3c;
       
    }
    .line{
        font-size: 28rpx;
        .state{
            text-align: right;
            color: red;
        }
        
        .right{
            text-align: right;
            text{
                display: block;
            }
        }
    }
}